#popover{
	width:250px;
	height: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#popover .pine{
	font-size: 12px;
	line-height: 18px;
	font-family: "Georgia","Tahoma","Sans-Serif";
	padding: 5px;
}

#popover .branch{
	float: left;
	clear: both;
	margin-top: 10px;
}

#popover .stalk{
	text-decoration:underline;
}

#popover .leaf2{
	width:70px;
	float: left;
	display: inline;
	margin-right: 8px;
}

#popover .leaf2 img{
	width:70px;
}

#popover .leaf3{
	width:108px;
	float: left;
	display: inline;
	margin-right: 8px;
}

#popover .leaf3 img{
	width:108px;
}

#popover .leaf6{
	width:238px;
	float: left;
	clear: both;
}

#popover .h1{
	text-align: center;
	font-size:14px;
	font-weight: bold;
}

#popover .h2{
	text-align: center;
	font-size:13px;
	font-weight: bold;
}

#popover .h3{
	text-align: center;
	font-size:12px;
	font-weight: bold;
}

#popover ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

#popover ul li
{
padding-left: 14px; 
}

#popover a{color:#06C;text-decoration:none;}
#popover a:hover{color:#F90;text-decoration:underline;}
 
#popover .normal a{color:#666;}
#popover .normal a:hover{color:#000;}
 
#popover .list a:visied{color:#969;}

.popover_thumbs{
	width:130px;
	margin-left: 10px;
	display: inline;
	float: left;
}

.popover_thumbs img{
	width:120px;
	clear:both;
	float: left;
}

.popover_thumbs a{
	width:110px;
	font-size: 12px;
	clear: both;
	float: left;
}


#InstantSearchSelectedArea{
	font-weight: bold;
	background-color: #ceeece;
}

#wiki{
	
}

#flickr {

}

#youtube {

}

#youtube .ytbThumb{
	width: 100%;
}

#youtube .ytbTitle{
	width: 100%;
	height: 20px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
