<html>
<head>
	<title>InstantSearch Options</title>
	<link href="css/options.css" rel="stylesheet"/>
	<script type="text/javascript" src="../libs/jquery-1.10.2.min.js"></script>
	<script src="js/options.js"></script>
</head>

<body>
	<div id="feedback"><a href="mailto:aaronisfine@gmail.com?subject=InstantSearch">Feedback</a></div>
	<!-- <div id="main">

		<div id="status"></div>
		<div class="option">
			<h3>Search Resources</h3>
			<input type="checkbox" value="youtube" name="resources"/>Youtube<br>
			<input type="checkbox" value="flickr" name="resources"/>Flickr<br>
			<input type="checkbox" value="wiki" name="resources"/>Wikipedia<br>
		</div>
		<!-- <div class="option">
			<h3>Trigger</h3>
			<input type="radio" value="select" name="trigger">Select text<br>
			<input type="radio" value="Hover" name="trigger">Hover on the text<br>
		</div> 
		<button id="save">Save</button>
	</div> -->
<br>
</body>



</html>